.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 20px;
  gap: 50px;
  background-image: url("../../Assets/BackgroundPattern.png");
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 1600px) {
  .registration {
    padding: 50px 20px;
    padding-bottom: 50px;
    gap: 40px;
  }
}

@media (max-width: 1200px) {
  .registration {
    padding: 50px 50px;
    gap: 40px;
  }
}

@media (max-width: 900px) {
  .registration {
    padding: 30px 30px;
    gap: 40px;
  }
}

@media (max-width: 600px) {
  .registration {
    padding: 50px 20px;
    padding-bottom: 40px;
    gap: 40px;
  }
}

.registration .logo img {
  height: 40px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.registration .celebrations1 {
  height: 200px;
  position: absolute;
  left: 100px;
  top: 100px;
}

.registration .celebrations2 {
  height: 200px;
  transform: rotate(270deg);
  position: absolute;
  right: 100px;
  top: 100px;
}

@media (max-width: 1400px) {
  .registration .celebrations1 {
    height: 150px;
    position: absolute;
    left: 20px;
    top: 80px;
  }

  .registration .celebrations2 {
    height: 150px;
    transform: rotate(270deg);
    position: absolute;
    right: 20px;
    top: 80px;
  }
}

@media (max-width: 900px) {
  .registration .celebrations1 {
    height: 180px;
    position: static;
  }

  .registration .celebrations2 {
    display: none;
  }
}

.registration h2 {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
}

.registration p {
  text-align: center;
}

@media (max-width: 1400px) {
  .registration h2 {
    font-size: 35px;
  }
}

.video-js {
  display: block;
  border-radius: 16px;
  width: 920px;
  height: 520px;
  border: 1px solid black;
}

.vjs-poster {
  border-radius: 20px;
}

@media (max-width: 1700px) {
  .video-js {
    width: 720px;
    height: 420px;
  }
}

@media (max-width: 1300px) {
  .video-js {
    width: 620px;
    height: 350px;
  }
}

@media (max-width: 900px) {
  .video-js {
    width: 550px;
    height: 320px;
  }
}

@media (max-width: 600px) {
  .video-js {
    width: 100%;
    height: 250px;
  }
}

.registration .steps {
  margin-top: 100px;
  font-weight: 300;
}

.registration .cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.registration .cards .card {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.registration .cards .card img {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

.registration .cards .card p {
  text-align: center;
  line-height: 25px;
}

.registration h3 {
  font-size: 40px;
  text-align: center;
  font-weight: 300;
}

.registration h4 {
  text-align: center;
}

.registration h4 span {
  color: blue;
}

@media (max-width: 1600px) {
  .registration .cards {
    gap: 50px;
  }
  .registration .cards .card {
    width: 370px;
  }
}

@media (max-width: 1200px) {
  .registration h3 {
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  .registration h3 {
    font-size: 27px;
  }
}
